/* Reconcile with components library code / pre / & tag class */
.code--block,
.code--slim {
  display: block;
  font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  color: #0b0c0c;
  border: none;
  background-color: #f8f8f8;
  word-break: break-word;
  font-size: 14px;
  white-space: pre-wrap;
  word-spacing: normal;
  font-weight: normal;

  /* IE 10+ */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    word-break: break-all;
  }

  &.inline {
    margin: 0
  }
}

// Code styling
.code--block {
  line-height: 2em;
  padding: 10px;
  margin: 20px 0;
}

.code--slim {
  padding: 2px 4px;
  display: inline-block;
  line-height: 1.1em;
}
