
.modal {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    justify-content: center;
    background: rgba(0, 0, 0, 0.50);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;

    .modal-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background: white;
        width: 90%;
        max-width: 620px;
    }
}