{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "@babel/plugin-transform-template-literals",
    "inline-dotenv",
    "styled-components",
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
  // "env": {
  //   "test": {
  //     "presets": [
  //       ["next/babel", {
  //          "preset-env": {
  //             "modules": "commonjs",
  //             "esmodules": true
  //           }
  //       }]
  //     ]
  //   }
  // }
}
