.helpLink {
  display: none
}

.buttons.verify {
  margin-top: 20px
}

#simplemodal-contianer,
#simplemodal-overlay {
  /* display: none !important; */
  /* background: none !important; */
}
/* .verifying-modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #fff;
} */
/* @media screen and (min-width: 40.0625em) {
  .verifying-modal {
    top: 420px;
  }
}
@media screen and (min-width: 47.938em) {
  .verifying-modal {
    top: 0;
  }
} */

#ResendEmailVerificationMessage {
  display: none;
}
/* 
#verifying_blurb,
#verifying_blurb:after {
  border-radius: 50%;
  width: 7em;
  height: 7em;
  content: '';
}
#verifying_blurb {
  margin: 60px auto;
  font-size: 10px;
  position: fixed;
  top: 10%;
  left: calc(50% - 30px);
  z-index: 999;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #386FB3;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */

.verifying-modal {
  background-color: white;
  font-family: "GDS Transport", Arial, sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* BEGIN - DfE style changes when moving from GovUk styles //
body, p, h1, h2, h3, h4, h5, h6, a, span, div, table, th, td, blockquote, li, tr {
    font-family: 
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        'Helvetica Neue',
        sans-serif !important;
  }
  
    .govuk-header {
        background-color: #003a69;
    }
    
    .govuk-header__container {
        position: relative;
        margin-bottom: -10px;
        padding-top: 25px;
        padding-bottom: 15px;
        border-bottom: 10px solid #347ca9;
    }
    
    .govuk-header__product-name, 
    .govuk-header__logotype-text,
    .govuk-header__content {
        line-height: 2.5rem !important;
        font-size: 1.2rem;
    }
    
    .govuk-header__logotype-crown-fallback-image {
        height: 45px; 
        width: 45px;
    }
    
    .govuk-header__logotype {
        margin-right: 0;
    }
    
    .govuk-header__logo {
          width: 60%;
      }
      
    .govuk-header__content {
            width: 40%;
            float: right;
    }
    
    .govuk-header nav {
        display: inline-block;
        float: right;
    }
// END - DfE style changes */
